/**
 * Layout
 */

 .wrapper {
 	max-width: $content-width;
 	margin: auto;
 	@include media-query($content-width) {
 		max-width: 100%;
 	}
 }

 .spacer {
 	content: "";
 	display: block;
 	height: $spacing-unit;
 	&.half {
 		height: $spacing-unit / 2;
 	}
 }

section {
  padding: 0 $spacing-unit / 2;
  &.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    svg {
      display: block;
      width: 100%;
      max-width: 600px;
      resize: both;
    }
  }
}
